@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 600px; /* Margin bottom by footer height */
    padding-bottom: 50px;
}

div {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;
}
/* 
.card {
    padding: 5px 5px;
} */

.link {
    color: #3C5454 !important; 
}

.heroImage {
    background-image: url('photos/sheepOnFarm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    height: 850px;
    width: 100%;
}

.aboutUsImage {
    background-image: url('photos/sheep.png');
    background-position: center;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}

.firstText {
    background: #E2E2CF;
    color: #27261F;
    overflow: visible;
    padding: 5% 0% 5% 0%;
    text-align: center;
}
  
.heroText {
    font-size: 2rem;
    letter-spacing: 1.6px;
    align-content: center;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #27261F;
}


.centeredFooterText {
    text-align: center;
    font-size: 0.7rem;
    color: #E2E2CF;
    background: #27261F;
    overflow: visible;
}


.closer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    background-image: url('photos/sheepOnFarm.jpg');
}

.sectionImage {
    display: block; 
    margin: 0 0;
}

.btn:hover {
    background-color: #8EB8E2;
}

.beetlebung {
    background: #3C5454;
    color: #E2E2CF;
    overflow: visible;
    padding: 3% 8% 8% 8%;
    /* background: #3C5454;
    color: #E2E2CF;
    /* height: 570px; */
    /* overflow: visible; 
    padding: 50px 5% 2% 5%;
    margin-top: -30px;        /* Size of fixed header */
    /* padding-bottom: 30px; 
    display: block;  */ */ */
}

.aboutUs {
    background: #E2E2CF;
    color: #27261F;
    overflow: visible;
    padding: 3% 8% 6% 8%;
    /* overflow: visible; 
    height: 400px;
    padding: 50px 5% 2% 5%;
    margin-top: -30px;        /* Size of fixed header */
    /* padding-bottom: 30px; 
    display: block;  */ */
}

.application {
    color:#27261F;
    overflow: visible; 
    padding: 5% 5% 2% 8%;
}

.aboutImage {
    width: 300px;
    margin: 5% 0% 10% 0%;
}

.joinImage {
    width: 300px;
    margin: 5% 10% 5% 0%;
}

.center {
    text-align: center;
    padding-top: 30px;
}

.centerTwo {
    padding-top: 30px;
}

.aboutSectionHeader {
    border-bottom: 1px solid #27261F;
    display: inline-block;
    padding: 0% 0% 1% 0%;
    margin: 15% 0 5% 0;
}

.aboutText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: 1.5px;
    margin: 0% 0% 15% 0%;
}

.applicationSectionHeader {
    border-bottom: 1px solid #E2E2CF;
    display: inline-block;
    padding: 0% 0% 1% 0%;
    margin: 5% 0 3% 0;
}

.applicationBody {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
}

.internalCard {
    padding: 0 10% 0 10%;
    border-width: 0;
}

.joinText {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    margin: 0% 0% 5% 0%;
}

.joinSectionHeader {
    border-bottom: 1px solid #E2E2CF;
    display: inline-block;
    padding: 0% 0% 1% 0%;
    margin: 15% 0% 5% 0%;
}

.navbarStyle {
    margin-left: auto; 
    margin-right: auto;
}

a.nav-link{
    color: #27261F;
}

.otherNavItem {
    padding: 20px 0 0 0 !important;
    font-size: 1rem !important;
}

.space {
    padding: 0 50px 0 50px;
    vertical-align: middle;
}

.active {
    font-size: 2rem;
}

.join {
    background: #3C5454;
    color: #E2E2CF;
    overflow: visible;
    /* padding: 3% 8% 3% 8%; */
}

.joinButton {
    padding: 1% 5% 1% 5%;
    text-align: center;
    font-family: 'Varela Round', sans serif;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    margin-top: 5%;
}

@media (max-width: 420px) {
    /* CSS that should be displayed if width is equal to or less than 400px goes here */
    body {
        margin-bottom: 600px; /* Margin bottom by footer height */
    }
    .footer {
        height: 50px;   
    }
    
    .joinButton {
        width: 100%;
        border: 0;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    .joinButton:hover {
        background-color: #E2E2CF;
        color: white;
      }

    .application {
        margin: 12% 0 0 0;
    }

    .active {
        font-size: 1rem;
        padding: 10px 0 0 0 !important;
    }  

    .otherNavItem {
        padding: 10px 0 0 0 !important;
        color: #8EB8E2;
    }
    
    .nav-item {
        text-align: left;
    }
}